//- Bootstrap core JavaScript 
script(src="/vendor/jquery/jquery.min.js")
script(src="/vendor/bootstrap/js/bootstrap.bundle.min.js")

//- Plugin JavaScript 
script(src="/vendor/jquery-easing/jquery.easing.min.js")
script(src="/js/main.js")