//- Bootstrap core CSS
link(rel="stylesheet", href="/vendor/bootstrap/css/bootstrap.min.css")
link(rel="stylesheet", href="/css/animate.css")

//- Custom fonts
link(rel="stylesheet", href="vendor/fontawesome-free/css/all.min.css")

//- Custom styles
link(rel="stylesheet", href="/css/estilos.css")