
//- Navigation 
nav.navbar.navbar-expand-lg.navbar-dark.navbar-shrink#mainNav
    .container
        a(href="#page-top" class="navbar-brand js-scroll-trigger animated bounceInLeft") Desarrollador Junior | Admin
        button(class="navbar-toggler navbar-toggler-right animated bounceInRight" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation") Menu
            <i class="fas fa-bars"></i>
        .collapse.navbar-collapse.animated.bounceInDown#navbarResponsive
            ul.navbar-nav.text-uppercase.ml-auto
                li.nav-item
                    a(href="/admin/portafolio/add" class="nav-link js-scroll-trigger") PORTAFOLIO
                li.nav-item
                    a(href="/admin/cite" class="nav-link js-scroll-trigger") OFERTAS
                li.nav-item
                    a(href="/admin/logout" class="nav-link js-scroll-trigger") SALIR