<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title admin tatto | add

        //- Bootstrap core CSS
        link(rel="stylesheet", href="/vendor/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/animate.css")

        //- Custom fonts
        link(rel="stylesheet", href="vendor/fontawesome-free/css/all.min.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:400,700")
        link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Kaushan+Script')
        link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic')
        link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700')

        //- Custom styles
        link(rel="stylesheet", href="/css/estilos.css")
        

    body(id="page-top")
        //- Navigation 
        nav.navbar.navbar-expand-lg.navbar-dark.navbar-shrink#mainNav
            .container
                a(href="/admin/panel" class="navbar-brand js-scroll-trigger animated bounceInLeft") Gobernantes Del Arte
                button(class="navbar-toggler navbar-toggler-right animated bounceInRight" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation")
                    <i class="fas fa-bars"></i>

        //- Form tattoo
        .container.p-4
            .row
                .col-md-4.offset-md-4
                    .card
                        .card-header.text-center
                            h1.card-title=title
        //- Bootstrap core JavaScript 
        script(src="/vendor/jquery/jquery.min.js")
        script(src="/vendor/bootstrap/js/bootstrap.bundle.min.js")

        //- Plugin JavaScript 
        script(src="/vendor/jquery-easing/jquery.easing.min.js")
        script(src="/js/main.js")


                                    


                        


        