//- Footer
footer.footer-wp.mt-0#footer
        .container
        .row
            .col-md-12
                span.copyright 2019 Todos los derechos reservados 
                    b Gobernantes Del Arte
            .col-md-12
                span.copyright 2019 Todos los derechos reservados diseñado por 
                    b Armando puche 
                span.copyright desarrollado por 
                    b team-une    


//- Bootstrap core JavaScript 
script(src="/vendor/jquery/jquery.min.js")
script(src="/vendor/bootstrap/js/bootstrap.bundle.min.js")

//- Plugin JavaScript 
script(src="/vendor/jquery-easing/jquery.easing.min.js")
script(src="/js/main.js")