//- Footer
footer.container-fluid.mt-5
    .row
        .col-md-12.text-center
            span.copyright 2019 Todos los derechos reservados 

//- Bootstrap core JavaScript 
script(src="/js/jquery.min.js")
script(src="/js/bootstrap.bundle.min.js")

//- Plugin JavaScript 
script(src="/js/jquery.easing.min.js")
script(src="/js/main.js")