//- Navigation 
nav.navbar.navbar-expand-lg.navbar-dark.navbar-shrink#mainNav
    .container
        a(href="#page-top" class="navbar-brand js-scroll-trigger animated bounceInLeft") Gobernantes Del Arte
        button(class="navbar-toggler navbar-toggler-right animated bounceInRight" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation")
            <i class="fas fa-bars"></i>
        .collapse.navbar-collapse.animated.bounceInDown#navbarResponsive
            ul.navbar-nav.text-uppercase.ml-auto
                li.nav-item.negro
                    a(href="#" class="nav-link js-scroll-trigger") INICIO
                li.nav-item
                    a(href="#portfolio" class="nav-link js-scroll-trigger") TATUAJES
                li.nav-item
                    a(href="#art" class="nav-link js-scroll-trigger") ARTE
                li.nav-item
                    a(href="#contacto" class="nav-link js-scroll-trigger") CONTACTANOS
                li.nav-item
                    a(href="#we" class="nav-link js-scroll-trigger") NOSOTROS
                li.nav-item
                    a(href="/admin" class="nav-link js-scroll-trigger") ADMINISTRADOR
                    