//- Navigation 
nav.navbar.navbar-expand-lg.navbar-dark.fixed-top#mainNav
    .container
        a(href="#page-top" class="navbar-brand js-scroll-trigger animated bounceInLeft") Desarrollador Junior
        button(class="navbar-toggler navbar-toggler-right animated bounceInRight" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation") Menu
            <i class="fas fa-bars"></i>
        .collapse.navbar-collapse.animated.bounceInDown#navbarResponsive
            ul.navbar-nav.text-uppercase.ml-auto
                li.nav-item.negro
                    a(href="#mainNav" class="nav-link js-scroll-trigger") INICIO
                li.nav-item
                    a(href="#aboutme" class="nav-link js-scroll-trigger") SOBRE MI
                li.nav-item
                    a(href="#education" class="nav-link js-scroll-trigger") EDUCACIÓN
                li.nav-item
                    a(href="#contact" class="nav-link js-scroll-trigger") CONTACTAME