<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        include ../includes/admin/head.pug


    body
        .row
            .col-md-4.mx-auto.mt-5
                .card
                    .card-header.mt-4.text-center
                        h2 Registro
                    .card-body
                        form(action="/admin/signup" method="POST")
                            .form-group
                                input(type="text" class="form-control" name="name" placeholder="name")
                            .form-group
                                input(type="email" class="form-control" name="email" placeholder="email")
                            .form-group
                                input(type="password" class="form-control" name="password" placeholder="password")
                            .form-group
                                input(type="submit" class="btn btn-primary btn-block" value="Registrar")
        include ../includes/admin/foot.pug
        